@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-icon {
  @apply relative flex items-center justify-center 
  h-12 w-12 mt-2 mb-2 mx-auto  
bg-gray-700 hover:bg-slate-500 dark:bg-gray-800 
text-slate-400 hover:text-white
  hover:rounded-xl rounded-3xl
  transition-all duration-150 ease-linear
  cursor-pointer shadow-lg ;
}

.sidebar-tooltip {
  @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
  text-white bg-gray-900 
  text-xs font-bold 
  transition-all duration-100 scale-0 origin-left;
}

.sidebar-hr {
  @apply bg-borderBg dark:bg-gray-800 
  border border-gray-200 dark:border-gray-800 rounded-full
  mx-2;
}


::-webkit-scrollbar {
  width: 10px;
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #101935;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1e3067;
}

* {
  margin: 0rem 0rem 0rem 0rem;
  padding: 0rem 0rem 0rem 0rem;
  box-sizing: border-box;
  font-family: "nunito";
}
@font-face {
  font-family: lora;
  src: url(../public/Fonts/lora/Lora-Regular.ttf);
  font-weight: 400;
}


@font-face {
  font-family: nunito;
  src: url(../public/Fonts/nunito_sans/NunitoSans-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: dm_sans;
  src: url(../public/Fonts/dm_sans/DMSans-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: nunito;
  src: url(../public/Fonts/nunito_sans/NunitoSans-Bold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: lily;
  src: url(../public/Fonts/lilly/LilyScriptOne-Regular.ttf);
  font-weight: 400;
}

